{% extends 'base.html' %}
{% block title %}
Scrumptious Recipes
{% endblock title%}
{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url 'create_recipe' %}">Add Recipes</a>
        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'my_recipe_list' %}">My recipes</a>
        <a href="{% url 'user_logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="recipe-grid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipes' recipe.id %}"
                    >{{ recipe.title }}</a
                >
            </h3>
            <p>{{ recipe.created_on | date:'F j, Y' }}</p>
            <img
                src="{{ recipe.picture | default:'https://a-z-animals.com/media/2023/01/iStock-1440573925.jpg' }}"
            />
            <div>4.3 stars</div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
